body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:#bd6c6c
}

nav {
    text-align: center;
}

.Leila {
    font-size: 45px;
    text-align: center;
}

.resume {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:80%;
}
.entry-info {
    text-align: left;
}
.entry-title {
    font-size: 28px;
}
.entry-description {
    font-size: 20px;
}

.page-title {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

p {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin: 20px;
    padding: 5px;
}

#learn-more {
    text-align: center;
}

#screenshot {
    border-radius: 50%
    
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 25px;
    text-align: center;
    padding: 5px;
}
/** p,
h2,
h3 {
    color:darkslateblue;
}


a:link {
    color:blue;
    text-decoration: underline;
}
a:visited {
    color:palevioletred
}
**/

a.hover {
    color:cornflowerblue;
    text-decoration: underline;
}
input:focus {
    border: 2px solid #bd6c6c;
}