body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:#bd6c6c
}


.page-title {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

p {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 25px;
}

footer {
    font-size: large;
    text-align: right;
}
/** p,
h2,
h3 {
    color:darkslateblue;
}


a:link {
    color:blue;
    text-decoration: underline;
}
a:visited {
    color:palevioletred
}
**/

a.hover {
    color:cornflowerblue;
    text-decoration: underline;
}
input:focus {
    border: 2px solid #bd6c6c;
}